@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Bebas+Neue&family=Cabin&family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=DM+Sans:ital@0;1&family=Fjalla+One&family=Heebo:wght@300&family=Inder&family=Kreon:wght@500&family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@0,200;1,600&family=Slabo+27px&family=Yantramanav:wght@300&family=Zen+Kaku+Gothic+New:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}


.header {
    position: fixed;
    width: 100%;
    height: 130px;
    background: rgb(1, 45, 28);
    z-index: 1000;
}

.header-content{
    display: flex;
    
}

.header-image{
    width:100% ;
    display: flex;
    justify-content: center;
    height: 130px;
}
.header-image img{
    margin: 0 auto;
    
    height: 130px;
}


.header-icon{
    display: flex;
    position: absolute;
    right: 50px;
    gap: 60px;
    top: 45px;
    
}
.header-icon i{
    font-size: 40px;
    color: #c7c6c6;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.5s;
}
.header-icon i:hover{
    background: #59645c;
}
/* MENU PRINCIPAL */

/*  CATEGORIAS */


main{
    display: flex;
    width: 100%;
    padding-top: 130px;
    background: #e4e4e4;
    
}
.category{
    width: 400px;
    
   
    
}

.category-content{
    
    display: flex;
    flex-direction: column;
    
    
}
.category-content a{
   font-size: 35px;
   padding: 4px 87.5px;
   text-align: center;
   margin: 20px 0;
   color: #1b1b1d;
   font-weight: 700;
   transition: 1s;
}
.category-content a:hover{
    color: #055d0e;
    background: #d7d6d6;
    border-radius: 10px;
}
.category-content a.active{
  color: #055d0e;
  background: #d7d6d6;
  border-radius: 10px;
}






/* Seccion Productos */

.products{
    padding: 0 0 20px 0;
    width: 100%;
}
.products h2{
    font-size: 45px;
    margin: 30px;
    text-align: center;
    
}

.products-content{
    margin:0px 30px 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr) );
    grid-template-rows: repeat(auto-fill,max-content);
    grid-gap: 50px;
}


.product-1{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-1 h4{
    color: #1b1b1d;
    font-size: 25px;
    
}
.products h2 span {
     
    color: #055d0e;
}



.product-1 p{
    color: #055d0e;
    font-size: 28px;
    margin: 20px 0;
    font-weight: 600;
}


.product-1 a{
    background: #055d0e;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
    overflow: hidden;
    transition: color 0.5s;
}
.product-1 a:hover{
    color: #04530c;
    
    outline:1px solid  #055d0e;;
    
}
.product-1 a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(217, 237, 228);
    
    z-index: -1;
    transition: 0.5s;
}
.product-1 a:hover::before{
    width: 100%;

}



.product-1 img{
    text-align: center;
    object-fit: contain;
    width: 100%;
    margin: 0 auto;
    
}